{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique !
{% endblock %}

{% block content %}
	<div class="mx-2">
		<h1>
			Mon compte
		</h1>

		<span>
			Bonjour
			{{ app.user.firstname }}, bienvenu dans votre espace personnel.
		</span>

		<hr>
		<a href="{{ path('account_password') }}">
			Modifier mot de passe
		</a>
		<br>
		<a href="{{ path('account_address') }}">
			Gérer mes adresses.
		</a>
		<br>
		<hr>
		- Mes commandes
		<hr>
	</div>
{% endblock %}
