{% extends 'base.html.twig' %}


{% block title %}Nos produits - La boutique 100% écologique et 100% commerce équitable.
{% endblock %}

{% block content %}


	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<h3>
				Filtrer
			</h3>
			{{form(form)}}
			</div>
			<div class="col-md-8">
				<h1>
					Selection de Produits.
				</h1>
				<div class="row product-container">
					{% for product in products %}
						<div class="col-md-4">
							{% include 'product/single_product.html.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
